{:deps
 {audiogum/clj-lazy-json {:mvn/version "0.0.3"}
  cheshire/cheshire {:mvn/version "5.11.0"}}
 :aliases
 {;; Run with clj -T:build function-in-build
  :build {:deps {org.clojure/tools.build {:mvn/version "0.9.0"}}
          :ns-default build}}}